name: Automatically Fetch S2MA Files
on:
  push:
    branches:
      - "*"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  auto-fetch:
    name: Automatically Fetch S2MA Files
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download and Install Battle.net
        run: |
          Invoke-WebRequest -Uri "https://us.battle.net/download/getInstaller?os=win&installer=Battle.net-Setup.exe" -OutFile "C:\Battle.net-Setup.exe"
          Cscript.exe "./.github/workflows/install_bnet.vbs" //nologo
          Get-Process | Where {$_.MainWindowTitle} | Select-Object ProcessName, MainWindowTitle
      - name: Installing Heroes Of the Storm
        run: |
          Invoke-WebRequest -Uri "https://github.com/jamiephan/Battle.Net-Installer/releases/latest/download/BNetInstaller.exe" -OutFile "C:\BNetInstaller.exe"
          & "C:\BNetInstaller.exe" --prod "hero" --lang "enus" --dir "C:/hero"
      - name: Setup WSL
        uses: Vampire/setup-wsl@v1
        with:
          distribution: Ubuntu-18.04
          additional-packages: cmake libbz2-dev zlib1g-dev python build-essential curl
      - shell: wsl-bash {0}
        run: |
          echo "export PATH=`echo $PATH | tr ':' '\n' | grep -v /mnt/ | tr '\n' ':'`" >> ~/.bashrc
      - shell: wsl-bash {0}
        run: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
          export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      - shell: wsl-bash {0}
        run: |
          nvm install 10
          node -v
          npm -v
      - name: Updating S2MA with downloaded game files
        run: |
          git checkout workflow-fetch
          New-Item -Path . -Name ".env" -ItemType "file" -Value "HEROES_OF_THE_STORM_INSTALL_LOCATION=`"/mnt/c/hero/`"`nTOOLS_S2MA_SAVE_LOCATION=`"./s2ma`""
          npm run extract:s2ma
          npm run rename
      - name: Push Changes to Github
        run: |
          $gameVersion = [regex]::match($(Get-Content "C:/hero/.build.info"), "\|\|\|(.*)").Groups[1].Value
          git status
          git config --global user.name 'Jamie Phan'
          git config --global user.email '9488815+jamiephan@users.noreply.github.com'
          git commit -am "Updated Files to $gameVersion"
          git push origin workflow-fetch
