name: Automatically Fetch S2MA Files
on:
  workflow_dispatch:
    inputs:
      msg:
        description: "Manual Trigger"
        required: false
        default: "Hello"
jobs:
  auto-fetch:
    name: Automatically Fetch S2MA Files
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download and "fake" installing battlenet
        run: |
          pwd
          ls
          Invoke-WebRequest -Uri "https://us.battle.net/download/getInstaller?os=win&installer=Battle.net-Setup.exe" -OutFile "C:\Battle.net-Setup.exe"
          sleep 10
          Get-Process
